* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 1180px;
    margin: 0 auto;
}

.hero__items {
    display: flex;
    align-items: center;
}

.hero__img {
    width: 50px;
    height: 50px;
}

.hero {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    background-color: rgba(128, 128, 128, 0.433);
}

.hero__list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__item {
    list-style-type: none;
    margin-left: 50px;
    color: white;
}

.hero__title {
    color: white;
    padding-left: 10px;
}

.hero__item:last-child {
    padding: 10px 15px;
    background-color: white;
    color: rgba(128, 128, 128, 0.433);
}

.inner {
    height: 800px;
    background-image: url("./Bitmap.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.inner__list {
    transform: rotate(90deg);
    position: absolute;
    top: 300px;
    width: 218px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: space-between;
    right: -50px;
}

.inner__item {
    color: white;
    font-weight: 500;
}

.wrapper {
    display: flex;
    position: absolute;
    top: 300px;
    margin-left: 16px;
}

.wrapper__text {
    color: #FFF;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    opacity: 0.8;
}

.wrapper__title {
    color: #FFF;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Merriweather;
    font-size: 30px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    padding-top: 20px;
}

.sect__wrap {
    width: 616px;
    height: 399px;
}

.wrap {
    padding-top: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.wrap__title {
    color: var(--color-dark-green, #222F33);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Merriweather;
    font-size: 30px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.wrap__text {
    width: 400px;
    height: 182px;
    color: var(--greys-light-grey, #646D70);
    font-family: Rubik;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.wrap__btn {
    Background: (Button / Ghost);
    width: 90px;
    height: 34px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid var(--greys-light-grey, #646D70);
    position: relative;

}

.innovative {
    height: 500px;
    width: 100%;
    background-color: #222F33;
    margin-top: 65px;
}

.innovation {
    padding: 190px;
}

.innovative__title {
    list-style-type: none;
    color: var(--greys-white, #FFF);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Merriweather;
    font-size: 30px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.innovative__p {
    width: 380px;
    height: 120px;
    list-style-type: none;
    color: var(--greys-white, #FFF);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Rubik;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.innovative__items {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.home__item {
    list-style-type: none;
}

.home__title {
    width: 155px;
    color: var(--color-dark-green, #222F33);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Merriweather;
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    padding-top: 5px;
}

.home__text {
    width: 155px;
    color: var(--greys-light-grey, #646D70);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Rubik;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    opacity: 0.7;
    padding-top: 5px;
}

.hero__home {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer__sect {
    background-color: #222F33;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__pic {
    display: flex;
    align-items: center;
}

.footer__message {
    display: flex;
    align-items: center;
}

.footer__text {
    color: #FFF;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Rubik;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    opacity: 0.6;
}
.footer__txt{
    color: #FFF;
    margin-left: 10px;
}
.footer__msg{
    margin-left: 10px;
    color: #FFF;
}